
{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
   <link href="{% static "css/signin.css" %}" rel="stylesheet">

{% if label %}
<div class="alert alert-{{ type }}" role="alert">
<div class="row">
      &nbsp; &nbsp;<strong> {{ tag }} </strong> {{ message }}
 </div>
 </div>
 {% endif %}




<div class="col-md-7">
 <div class="jumbotron">
      <div class="container-fluid">
        <h1>Welcome to The SocNet</h1>
        <p>The 'official' website of the institute. </p> 
        <p>Answers to all the What?s, the When?s, the Why?s and the Who?s is just a few clicks away. Just login or enter your Institue Email Address to get going!!!</p>
        <p><a href="#" class="btn btn-primary btn-lg" >Learn more &raquo;</a></p>
      </div>
    </div>
</div>
<div class="col-md-5">
   <div class="container-fluid">

 
    
      <form name="userForm"  class="form-signin" method="post" action="{% url 'register' %}">
        <br></br>
          {% csrf_token %}
        <h2 class="form-signin-heading">Get Started</h2>
        <div class="form-group" ng-class="{ 'has-error': userForm.email.$invalid }" show-errors='{showSuccess: true}'>
        <label for="inputEmail" class="sr-only" >Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Enter your @mnnit.ac.in address"  ng-model="user.email" name="email" required>
        <input type="text" class="hidden" name="type"  value= "{{ type }}"required>
        {% if mnnit %}
        <p class="help-block" >Please enter a valid mnnit.ac.in email address</p>
        {% endif %}
        </div>
        
        
       
        
        <button class="btn btn-lg btn-primary btn-block" type="submit" >Sign Up</button>
      </form>


  </div>
</div>

  


     
{% endblock %}
