{% extends 'second_base.html' %}

{% block second_content %}

    <div class="jumbotron">
      <div class="container-fluid">
        <h1>Hello, world!</h1>
        
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p></p>
      </div>
    </div>

    <div class="container-fluid">
    {% for feed in feeds %}
    
      <!-- Example row of columns -->
     
        <div class="panel panel-default">
          <div class="panel-body">
          <h2><a href= "{{ feed.Link }}"> {{feed.Title}} </a></h2>
          <p>{{feed.Content}}</p>
          <p><a class="btn btn-default" href="{{feed.Link }}" role="button">View details &raquo;</a></p>
        </div>
        </div>  
         
    {% endfor %}

      
       
        

      <hr>  

    </div> <!-- /container -->

{% endblock %}
