
{% extends 'second_base.html' %}
{% load time_short %}
{% load staticfiles %}
{% block second_content %}


<!-- Back button -->


<a href="{% url 'forum' %}{{ course_id }}/#assignment_tab" class="btn btn-default btn-lg" ><<</a>
<br>
<br>

<!-- Question -->



    <div class="panel panel-default">

     <h2> &nbsp; {{ assignment.title }} </h2>
     <h6 style="font-style:italic"> &nbsp; &nbsp; &nbsp; &nbsp;{{ assignment.date|age }} </h6>
          
       
        <div class="panel-body" style="background-color:transparent">
         {% if solutions %}

           <table class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th> Name </th>
                  <th> Date </th>
                  <th> Solution </th>
                  <th> Grade </th>
                </tr>
              </thead>
              <tbody>
              {% for solution in solutions %}
              <tr>
                  <td> {{solution.user.user.get_full_name}} </td>
                  <td> {{solution.date|age }}</td>
                  <th> <a href="{% url 'home' %}media/{{ solution.file }}"> Download </a> </th>
                  <td> Grade </td>
              </tr> 
              {% endfor %}
              </tbody>
            </table>

          {% endif %}
        </div>

      </div>

   


{% endblock %}

{% block script %}
<!-- Script to decide the attributes of the modal 
    We can use the same modal for posting both answers and comments
-->


{% endblock %}