{% extends 'second_base.html' %}
{% load staticfiles %}
{% load time_short %}
{% block second_content %}

<!-- Datepicker css -->


   <link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">

<!-- Add question -->

<button type="button" class="pull-right btn btn-default btn-lg" data-toggle="modal" data-target="#question" ><strong>Ask </strong></button> 


{% if User.role == "Faculty" %}

<button type="button" class="pull-middle btn btn-default btn-lg" data-toggle="modal" data-target="#Assignment" ><strong>Assign</strong> </button>  

<!-- Post assignment modal -->



<div class="modal fade" id="Assignment"  tabindex="-1" role="dialog" aria-labelledby="AssignmentLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="AssignmentLabel">Create Assignment</h4>
      </div>
      <div class="modal-body">
        <form id="formform" method="post" action="{% url 'post' %}{{ id }}/0/" 
        enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label for="title" class="control-label">Title:</label>
            <input type="text" class="form-control" id="title" name="title" autofocus required>
          </div>
          <input type="text" class="hidden" name="type" value="Assignment" required>
          <div class="form-group">
            <label for="Question" class="control-label">Description: (Optional)</label>
            <textarea class="form-control" id="description" name="description" ></textarea>
          </div>
          <div class="form-group">
         
            <label for="date" class="control-label">Deadline:</label>
            <input type="text" class="form-control"  id="date" name="date" placeholder="Click to bring datepicker" required>
          
          </div>

          <div class="row">
            <div class="col-md-3">
              <span class = "btn btn-primary btn-block" style="position: relative; overflow: hidden;"> Upload File(s)<input type="file" name="files" id="assign_file" multiple> </input> </span>
            </div>
            <div class="col-md-9" > 
              <input type="text" class="form-control" readonly id="filename" name="filename" placeholder="No files uploaded"> &nbsp; &nbsp;
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" form="formform">Assign</button>
      </div>
    </div>
  </div>
</div>



{% endif %}

<button type="button" class="pull-middle btn btn-default btn-lg" data-toggle="modal" data-target="#FileUpload" ><strong>Upload</strong> </button> 

<br></br>
<br>
 



<!-- Upload files modal -->



<div class="modal fade" id="FileUpload"  tabindex="-1" role="dialog" aria-labelledby="FileUploadLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="FileUploadLabel">Upload Files</h4>
      </div>
      <div class="modal-body">
        <form id="upload_form" method="post" action="{% url 'post' %}{{ id }}/0/" // TODO
        enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label for="title" class="control-label">Title:</label>
            <input type="text" class="form-control" id="title" name="title" autofocus required>
          </div>
          <input type="text" class="hidden" name="type" value="File" required>
          <div class="form-group">
            <label for="Question" class="control-label">Description: (Optional)</label>
            <textarea class="form-control" id="description" name="description" ></textarea>
          </div>

          <div class="row">
            <div class="col-md-3">
              <span class = "btn btn-primary btn-block" style="position: relative; overflow: hidden;"> Upload File(s)<input type="file" name="files" id="upload_file" multiple> </input> </span>
            </div>
            <div class="col-md-9" > 
              <input type="text" class="form-control" readonly id="filename_upload" name="filename" placeholder="No files uploaded"> &nbsp; &nbsp;
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" form="upload_form">Submit</button>
      </div>
    </div>
  </div>
</div>


{% if User.role == "Student" %}

<!-- Upload Assignment modal -->




<div class="modal fade" id="FileUpload"  tabindex="-1" role="dialog" aria-labelledby="FileUploadLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="FileUploadLabel">Upload Files</h4>
      </div>
      <div class="modal-body">
        <form id="upload_form" method="post" action="{% url 'post' %}{{ id }}/0/" // TODO
        enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label for="title" class="control-label">Title:</label>
            <input type="text" class="form-control" id="title" name="title" autofocus required>
          </div>
          <input type="text" class="hidden" name="type" value="File" required>
          <div class="form-group">
            <label for="Question" class="control-label">Description: (Optional)</label>
            <textarea class="form-control" id="description" name="description" ></textarea>
          </div>

          <div class="row">
            <div class="col-md-3">
              <span class = "btn btn-primary btn-block" style="position: relative; overflow: hidden;"> Upload File(s)<input type="file" name="files" id="upload_file" multiple> </input> </span>
            </div>
            <div class="col-md-9" > 
              <input type="text" class="form-control" readonly id="filename_upload" name="filename" placeholder="No files uploaded"> &nbsp; &nbsp;
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" form="upload_form">Submit</button>
      </div>
    </div>
  </div>
</div>

{% endif %}
<!-- Post question modal -->

<div class="modal fade" id="question"  tabindex="-1" role="dialog" aria-labelledby="questionLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="questionLabel">???</h4>
      </div>
      <div class="modal-body">
        <form id="form_question" method="post" action="{% url 'post' %}{{ id }}/0/">
          {% csrf_token %}
          <div class="form-group">
            <label for="title" class="control-label">Title:</label>
            <input type="text" class="form-control" id="title" name="title" autofocus required>
          </div>
          <input type="text" class="hidden" name="type" value="question" required>
          <div class="form-group">
            <label for="Question" class="control-label">Question:</label>
            <textarea class="form-control" id="Question" name="Question" required></textarea>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" name="check"> Ask Anonymously
            </label>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" form="form_question">Ask</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal for confirming delete -->

<div class="modal fade" id="delete"  tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteLabel">Are you sure????</h4>
      </div>

      <div class="modal-body">
          <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        <a type="submit" class="btn btn-success" id="confirm">Yes</a>
      </div>
      
    </div>
  </div>
</div>

<!-- Tabs -->

<ul id="myTab" class="nav nav-tabs" role="tablist">
      <li id="forum-li" role="presentation" class="active"><a href="#forum" id="forum-tab" role="tab" data-toggle="tab" aria-controls="forum" aria-expanded="true">Forum <span class="badge"></span> </a></li>
      <li id="assignment-li" role="presentation"><a href="#assignment" role="tab" id="assignment-tab" data-toggle="tab" aria-controls="assignment">Assignments

          {% if assignments %}
            <span class="badge"> {{ assignments|length }}</span>
          {% endif %}
      </a></li>

      <li id="file-li" role="presentation"><a href="#file" id="file-tab" role="tab" data-toggle="tab" aria-controls="file" aria-expanded="true">Files <span class="badge"></span> </a></li>

    <!--  <li role="presentation" class="dropdown">
        <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown" aria-controls="myTabDrop1-contents">Dropdown <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1" id="myTabDrop1-contents">
          <li><a href="#dropdown1" tabindex="-1" role="tab" id="dropdown1-tab" data-toggle="tab" aria-controls="dropdown1">@fat</a></li>
          <li><a href="#dropdown2" tabindex="-1" role="tab" id="dropdown2-tab" data-toggle="tab" aria-controls="dropdown2">@mdo</a></li>
        </ul>
      </li> -->
</ul>


<br>
<div id="myTabContent" class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="forum" aria-labelledBy="forum-tab">


    <!-- Current Questions -->

    {% if questions %}

      {% for question in questions %}
        <div class="panel panel-default">
            
          <ul class="list-group">

             <div class="panel-header">
              {% if question.user.user == user or User.role == "Faculty" %} <!-- Checking if question posted by current user -->

              <a data-url="{% url 'delete_post' %}q/{{ id }}/{{ question.id }}" type="button" class="close" data-toggle="modal" data-target="#delete" style="position:relative; right:10px; bottom:10px"> <span class="glyphicon glyphicon-remove"></span></a> <!-- Delete button -->
              

              {% endif %}

              <!-- AJAX follow button -->

              {% if User in question.followers.all %}
                <button title="Unfollow" class="close ajax"  type="button" data-id="{{ question.id }}" id="follow"
                 style="position:relative; right:10px; bottom:10px"> 
                <span class="glyphicon glyphicon-star" id="follow_{{ question.id }}"></span></button> 
              {% else %}
                <button title="Follow" class="close ajax"  type="button" data-id="{{ question.id }}" id="follow"
                style="position:relative; right:10px; bottom:10px"> 
                <span class="glyphicon glyphicon-star-empty" id="follow_{{ question.id }}"></span></button> 
              {% endif %}

              
              <h2>  &nbsp;  {{ question.title }} </h2> 
              
            </div>          
        
             
            
              <div class="panel-body" style="background-color:transparent">
                
                {{ question.question|safe }}

                <br> <br>
                  <li class="list-group-item" style="background-color:transparent">
                      <a href="{% url 'forum' %}{{ id }}/{{ question.id }}" class="btn btn-default btn-lg" >View Answers <span class="badge">{{ question.number_of_answers  }}</span></a>
              
                      
                      <span class="pull-right" >  
                      {% if question.anonymous %}
                        <strong> Asked By: </strong> Anonymous <br>
                      {% else %}
                        <strong> Asked By: </strong> <a href="{% url 'profile' %}{{ question.user.user.username }}"> {{ question.user.user.get_full_name }} </a> <br>
                      {% endif %}
                        <strong> Asked: </strong> {{ question.date|age  }}
                      </span>
                  </li>
                
              </div>
        </div>

      {% endfor %}

    {% else %}
        <div class="alert alert-info" role="alert">
          <div class="row">
                &nbsp; &nbsp;<strong> Be the first one to ask!!!! </strong>
           </div>
        </div>
      
    {% endif %}  
  </div>

  <div role="tabpanel" class="tab-pane fade" id="assignment" aria-labelledBy="assignment-tab">

  <!-- Checking for assignments in forum -->
    {% if assignments %}

      {% for assignment in assignments %}
        <div class="panel panel-default">
            
          <ul class="list-group">

             <div class="panel-header">
              {% if file.user.user == user or User.role == "Faculty" %} <!-- Checking if question posted by current user -->

                <a data-url="{% url 'delete_post' %}as/{{ id }}/{{ assignment.id }}" type="button" class="close" data-toggle="modal" data-target="#delete" style="position:relative; right:10px; bottom:10px"> <span class="glyphicon glyphicon-remove"></span></a> <!-- Delete button -->
                

              {% endif %}
              <h2>  &nbsp;  {{ assignment.title }}  </h2> 
              
            </div>

          
        
              <div class="panel-body" style="background-color:transparent">
                
                {{ assignment.description|safe }}
                <br> </br>
                {% if assignment.file %}
                  <a class="btn btn-primary" href="{% url 'home' %}media/{{ assignment.file }}"> Download Assignment </a>
                {%  endif %}

                <br> <br>
                  <li class="list-group-item" style="background-color:transparent">
               <!--       <a href="{% url 'forum' %}{{ id }}/{{ question.id }}" class="btn btn-default btn-lg" >View Answers <span class="badge">{{ question.number_of_answers  }}</span></a> -->
                      <span class="pull-right" >  
                <!--      {% if question.anonymous %}
                        <strong> Asked By: </strong> Anonymous <br>
                      {% else %}
                        <strong> Asked By: </strong> <a href="{% url 'profile' %}{{ question.user.user.username }}"> {{ question.user.user.get_full_name }} </a> <br>
                      {% endif %} -->
                        <strong> Assigned: </strong> {{ assignment.date|age  }}
                        <br>
                        <strong> Time left: </strong> {{ assignment.deadline|until  }}
                      </span>
                  </li>
                
              </div>
        </div>

      {% endfor %}

    {% else %}
        <div class="alert alert-info" role="alert">
          <div class="row">
                &nbsp; &nbsp;<strong> There are no assignments currently!!!! </strong>
           </div>
        </div>
      
    {% endif %}  
  </div>


<!-- Files tab -->

  <div role="tabpanel" class="tab-pane fade" id="file" aria-labelledBy="file-tab">

    {% if files %}

      {% for file in files %}
        <div class="panel panel-default">
            
          <ul class="list-group">

              <div class="panel-header">
              {% if file.user.user == user or User.role == "Faculty" %} <!-- Checking if question posted by current user -->

                <a data-url="{% url 'delete_post' %}f/{{ id }}/{{ file.id }}" type="button" class="close" data-toggle="modal" data-target="#delete" style="position:relative; right:10px; bottom:10px"> <span class="glyphicon glyphicon-remove"></span></a> <!-- Delete button -->
                

              {% endif %}
                <h2>  &nbsp;  {{ file.title }}  </h2> 
              </div>
            
              <div class="panel-body" style="background-color:transparent">
                
                {{ file.description|safe }}
                <br> </br>
                {% if file.file %}
                  <a class="btn btn-primary" href="{% url 'home' %}media/{{ file.file }}"> Download File </a>
                {%  endif %}

                <br> <br>
                  <li class="list-group-item" style="background-color:transparent">
               <!--       <a href="{% url 'forum' %}{{ id }}/{{ question.id }}" class="btn btn-default btn-lg" >View Answers <span class="badge">{{ question.number_of_answers  }}</span></a> -->
                      <span class="pull-right" >  
                <!--      {% if question.anonymous %}
                        <strong> Asked By: </strong> Anonymous <br>
                      {% else %}
                        <strong> Asked By: </strong> <a href="{% url 'profile' %}{{ question.user.user.username }}"> {{ question.user.user.get_full_name }} </a> <br>
                      {% endif %} -->
                        <strong> Asked By: </strong> <a href="{% url 'profile' %}{{ file.user.user.username }}"> {{ file.user.user.get_full_name }} </a> <br>
                      
                        <strong> Asked: </strong> {{ file.date|age  }}
                      </span>
                  </li>
                
              </div>
        </div>

      {% endfor %}

    {% else %}
        <div class="alert alert-info" role="alert">
          <div class="row">
                &nbsp; &nbsp;<strong> There are no files currently!!!! </strong>
           </div>
        </div>
      
    {% endif %}  
  </div>

</div>
  
{% endblock %}
  

{% block script %}
<!-- Script to decide the attributes of the modal 
    We can use the same modal for posting both answers and comments
-->

<script type="text/javascript">
    $(function() {
      // Javascript to open assignment tab
      var url = document.location.toString();
      if (url.match('#assignment_tab')) {
        $('li[id="forum-li"]').attr('class',' ') ;
        $('li[id="assignment-li"]').attr('class','active') ;
        $('div[id="forum"]').attr('class','tab-pane fade') ;

        $('div[id="assignment"]').attr('class','tab-pane fade in active') ;
      }
      if (url.match('#file_tab')) {
        $('li[id="forum-li"]').attr('class',' ') ;
        $('li[id="file-li"]').attr('class','active') ;
        $('div[id="forum"]').attr('class','tab-pane fade') ;

        $('div[id="file"]').attr('class','tab-pane fade in active') ;
      }

    });

</script>

<script>

$('.ajax').click(function(){
    
    var button = $(this);
    var qid = $(this).attr("data-id");
    $.get('/ajax/follow/', {question_id: qid},
    function(json){
        button.attr('title',json.title);
        document.getElementById("follow_"+qid).className =
        document.getElementById("follow_"+qid).className.replace(json.before, json.after );
    });
});

/*
$('.ajasax').on('click', function(event){
     
     button = $(event.target); // Button that triggered the event
     if(button.attr('title')=='Follow'){
       var id=button.data('ttt');
       
     

          $.ajax({
          url : "follow/", // the endpoint
          type : "POST", // http method
          dataType: "json",
          data : { id : id , csrfmiddlewaretoken:'{{csrf_token}}'}, // data sent with the post request

          // handle a successful response
          success : function(json) {
            button.attr('title','Unfollow');
            $('.follow_'+id).text('-');
          }

      });
    }
    else{
      {
       var id=button.data('ttt');
          $.ajax({
          url : "follow/", // the endpoint
          type : "POST", // http method
          dataType: "json",
          data : { id : id , csrfmiddlewaretoken:'{{csrf_token}}'}, // data sent with the post request

          // handle a successful response
          success : function(json) {
            button.attr('title','Follow');
            $('.follow_'+id).text('+');
          }

      });
    }
    }

    
}); */




$('#delete').on('show.bs.modal', function (e) {
  var button = $(e.relatedTarget); // Button that triggered the modal
  var url = button.data('url');
  var modal = $(this);
  modal.find('.modal-body a[id="confirm"]').attr('href', url);
});

// Displaying filenames of multiple filenames

$("#assign_file, #upload_file").on("change", function(){
   var files = this.files,
       fileName = "\""+files[0].name+"\"";

    for (var i=1; i<files.length; i++){
      fileName+=", "+"\""+files[i].name+"\"";
    }
    var elem = document.getElementById("filename");
    elem.value = fileName;
    elem = document.getElementById("filename_upload");
    elem.value = fileName;
   
});

    /* reset modal on close /*
        $('#Assignment').on('hidden.bs.modal', function(){
            $(this).find('form')[0].reset();
        });

        $('#question').on('hidden.bs.modal', function(){
            $(this).find('form')[0].reset();
        });  */

</script>


<!-- Datepicker javascript -->

<script src="{% static "javascript/jquery-ui.js" %}"></script>

<script> 
  $('#date').datepicker(); 
</script>

{% endblock %}