
[Desktop Entry]
 Name=Putty
 Type=Application
 Exec=putty
 Terminal=false
 Icon= /home/rohit/install/putty.png
 Comment=SSH Client
 NoDisplay=false
 Categories=Development;
 Name[en]=Putty
