
{% extends 'second_base.html' %}
{% load staticfiles %}
{% block second_content %}

<div class="row">
<div class="col-md-1">
</div>

<div class="col-md-8">
 
      
  <form id="profileForm"  class="form-signin" method="post" action="{% url 'add_profile' %}">
        {% csrf_token %}
          <input type="text" hidden value="final" name="type" required/>

          <h2 class="form-signin-heading">Add Profile</h2>
          Please complete this form to complete registration
          <br></br>

    <div class="form-group">

      <div class="row">
        <div class="col-md-6">
         <div class="container-fluid">
              <label for="inputEmail">Company 

                <a href="{% url 'add_company' %}"> 
                  <span class="glyphicon glyphicon-plus" style="font-size:11px" title="Add Company"></span>
                </a>
              </label>
<!-- TODO update value -->

              <select id="name" class="form-control" placeholder="Enter the Name of the Company"  name="company" required>
                <option value disabled selected style="display:none">Choose Company</option>
                {% for company in companies %}
                 <option value="{{company.id}}">{{company.name}}</option>
                {% endfor %}
              </select>
          </div>
        </div>

        <div class="col-md-6">
          <div class="container-fluid ">

            <label for="inputCTC">CTC (in Lakhs/annum) (Optional)</label>
              <input type="text" id="ctc" title="Like '10.54'"class="form-control" placeholder="Enter the Cost to Company per annum" pattern="\d+(|\.?\d+)" name="ctc" value="{{ name }}" >
          </div>
        </div>
      </div>

        <br>

      <div class="row">
        <div class="col-md-12">
         <div class="container-fluid">
          <label> Branches Allowed </label>
            <br>
          
            <div class = "checkbox">
              {% for Batch in Batches %}
                <div class="row">
                  <div class="col-md-3">
                    <label> <strong> {{Batch.programme}} ({{Batch.year|safe}} year)</strong> </label>
                  </div>

                  <div class="col-md-9">
                    {% for batch in Batch.batches %}
                      <label>
                        <input type="checkbox"   name="check" value="{{batch.id}}"/> {{batch.branch.name}}  <br/> 
                       </label>
                    {% endfor %}
                  </div>

                </div>
                <br>
              {% endfor %}

            </div>
         </div>

        </div>
      </div>


    </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit" >Continue</button>

  </form>


</div>
</div>
<br><br>




     
{% endblock %}

{% block script %}

<script type="text/javascript">
  document.getElementById("profileForm").reset()
</script>

{% endblock %}


