
{% extends 'second_base.html' %}
{% load time_short %}
{% load staticfiles %}
{% block second_content %}

<link href="{% static "css/preview_image.css" %}" rel="stylesheet">

<div class="modal fade" id="delete"  tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteLabel">Are you sure you want to opt out of the company's registration process????</h4>
      </div>

      <div class="modal-body">
          <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        <a type="submit" class="btn btn-success" id="confirm">Yes</a>
      </div>
      
    </div>
  </div>
</div>


      <h1 class="page-header"> 
        <div class="row">
          <div class="col-md-2">
            <a id="link" href="{{ Profile.profile.company.website }}/">{{Profile.profile.company.name}}  </a>
          </div>
          <div class="col-md-10">
            <div class="pull-right">
                <a href="{{ Profile.profile.company.website }}"> <img  src="{% url 'home' %}media/{{ Profile.profile.company.logo }}" alt="" id="resultImage" height="50"  /> </a>
            </div>
          </div>
        </div>
      </h1>

      <h4> <strong> Summary </strong> </h4>
      {{Profile.profile.company.summary}}
      <br></br>
      <h3 class="page-header"> 
        <div class="row">
          <div class="col-md-2">
             {{Profile.profile.title}} 
          </div>
        </div>
      </h1>

    {% if Profile.profile.description != ' ' %}
      <h4> <strong> Profile Description </strong> </h4>
      {{Profile.profile.description}}
      <br></br>
    {% endif %}
      <div class="col-md-12">
        <div class="row">
            <h5> <strong> CPI Cutoff: </strong> {{Profile.profile.cpi_cutoff|decimate}}</h5>
        </div>
             
        <div class="row">
          
            <h5> <strong> 
                    {% if Profile.profile.type == 'Job' %}
                      Cost to Company: 
                    {% else %}
                      Stipend: 
                    {% endif %}
                </strong> 
                      ₹ {{Profile.profile.ctc|decimate}}
                         
                    {% if Profile.profile.type == 'Job' %}
                      Lakhs/annum
                    {% else %}
                      per month 
                    {% endif %}
             </h5>
        </div>

      </div>
      <br></br>
      <br></br>
      <h4> <strong> Batches Allowed </strong> </h4>
      {% for Batch in Profile.batches %}
        <div class="row">
          <div class="col-md-12">
            <label> <strong> {{Batch.programme}} ({{Batch.year|safe}} year) - </strong> </label>
            {% for batch in Batch.batches %}
                 {{batch.branch.name}},
              {% endfor %}
          </div>

        </div>
      {% endfor %}
      <br>
      <div class="row">
        {% if Profile.profile.status == 'Registration' and Profile.eligible and User not in Profile.profile.candidates.all %}
        <div class="col-md-12">
         <a class="btn btn-primary" type="button" data-toggle="modal" data-target="#delete" data-url="{% url 'profile_qualify' %}{{Profile.profile.id}}" data-text = "Are you sure you want to register for {{Profile.profile.company.name}}????">  Register  </a>
         <a class="btn btn-danger" data-url="{% url 'delete_profile' %}{{Profile.profile.id}}"  type="button"  data-toggle="modal" data-target="#delete" title="Delete" data-text="Are you sure you want to opt out of the company's registration process????"> Dismiss </a>
        {% endif %}
        </div>
      </div>


<br></br>
<br>




{% endblock %}

{% block script %}
<!-- Script to decide the attributes of the modal 
-->


  <script>


    $('#delete').on('show.bs.modal', function (e) {
      var button = $(e.relatedTarget); // Button that triggered the modal
      var url = button.data('url');
      var text = button.data('text');
      var modal = $(this);
      modal.find('.modal-body a[id="confirm"]').attr('href', url);
      modal.find('.modal-header h4[id="deleteLabel"]').text(text)
    });


  </script>


{% endblock %}